---
- name: Install Balena Etcher dependencies
  ansible.builtin.apt:
    name:
      - libfuse2
      - libglib2.0-0
    state: present
  tags: development_etcher

- name: Create Balena Etcher directory
  ansible.builtin.file:
    path: /opt/balena-etcher
    state: directory
    mode: "0755"
  tags: development_etcher

- name: Download Balena Etcher AppImage
  ansible.builtin.get_url:
    url: https://github.com/balena-io/etcher/releases/download/v1.19.25/balenaEtcher-1.19.25-x64.AppImage
    dest: /opt/balena-etcher/balenaEtcher.AppImage
    mode: "0755"
  tags: development_etcher

- name: Create symbolic link for Balena Etcher
  ansible.builtin.file:
    src: /opt/balena-etcher/balenaEtcher.AppImage
    dest: /usr/local/bin/balena-etcher
    state: link
  tags: development_etcher

- name: Create desktop entry for Balena Etcher
  ansible.builtin.copy:
    dest: /usr/share/applications/balena-etcher.desktop
    content: |
      [Desktop Entry]
      Version=1.0
      Type=Application
      Name=balenaEtcher
      Comment=Flash OS images to SD cards and USB drives
      Exec=/opt/balena-etcher/balenaEtcher.AppImage
      Icon=usb-creator
      Categories=System;Utility;
      Terminal=false
      StartupWMClass=balena-etcher
    mode: "0644"
  tags: development_etcher
