---
- name: Install zsh
  ansible.builtin.apt:
    name: zsh
    state: present
  become: true
  tags: shell_install

- name: Check if oh-my-zsh is installed
  ansible.builtin.stat:
    path: "{{ user_home }}/.oh-my-zsh"
  register: ohmyzsh_installed
  become_user: "{{ user_name }}"
  become: true
  tags: shell_ohmyzsh

- name: Install oh-my-zsh
  ansible.builtin.shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  args:
    creates: "{{ user_home }}/.oh-my-zsh"
  become_user: "{{ user_name }}"
  become: true
  environment:
    HOME: "{{ user_home }}"
  when: not ohmyzsh_installed.stat.exists
  tags: shell_ohmyzsh

- name: Copy zsh plugin loader script
  ansible.builtin.copy:
    src: load_plugins.sh
    dest: "{{ user_home }}/.oh-my-zsh/load_plugins.sh"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0755"
  become_user: "{{ user_name }}"
  become: true
  tags: shell_dotfiles

- name: Run zsh plugin loader script
  ansible.builtin.shell: |
    bash {{ user_home }}/.oh-my-zsh/load_plugins.sh
  args:
    executable: /bin/bash
  become_user: "{{ user_name }}"
  become: true
  environment:
    HOME: "{{ user_home }}"
  tags: shell_dotfiles

- name: Copy custom .zshrc
  ansible.builtin.copy:
    src: .zshrc
    dest: "{{ user_home }}/.zshrc"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0644"
    backup: true
  become_user: "{{ user_name }}"
  become: true
  tags: shell_dotfiles

- name: Change default shell to zsh
  ansible.builtin.user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
  tags: shell_change
